# Segmenting and Clustering Neighborhoods in Toronto

In [1]:
#Import necessary Libraries
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [2]:
# Scrape the Wikipedia page to obtain data that is in list of zip codes in Canada
zip_url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
bs_source = requests.get(zip_url).text
soup = BeautifulSoup(bs_source, 'xml')
soup_table = soup.find('table')

In [3]:
# The dataframe will consist of three columns: PostalCode, Borough, and Neighborhood
column_names = ['Postalcode', 'Borough', 'Neighborhood']
df = pd.DataFrame(columns = column_names)

In [4]:
# Search and extract all the Toronto zip codes
for tr_cell in soup_table.find_all('tr'):
    row_data=[]
    for td_cell in tr_cell.find_all('td'):
        row_data.append(td_cell.text.strip())
        
    if len(row_data)==3:
        df.loc[len(df)] = row_data

In [5]:
df.head()

  Postalcode           Borough               Neighborhood
0        M1A      Not assigned               Not assigned
1        M2A      Not assigned               Not assigned
2        M3A        North York                  Parkwoods
3        M4A        North York           Victoria Village
4        M5A  Downtown Toronto  Regent Park, Harbourfront

In [19]:
# Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned
df = df[df['Borough']!='Not assigned']
# If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough.
df[df['Neighborhood']=='Not assigned'] = df['Borough']
df.head()

  Postalcode           Borough                                 Neighborhood
2        M3A        North York                                    Parkwoods
3        M4A        North York                             Victoria Village
4        M5A  Downtown Toronto                    Regent Park, Harbourfront
5        M6A        North York             Lawrence Manor, Lawrence Heights
6        M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [20]:
df.head()

  Postalcode           Borough                                 Neighborhood
2        M3A        North York                                    Parkwoods
3        M4A        North York                             Victoria Village
4        M5A  Downtown Toronto                    Regent Park, Harbourfront
5        M6A        North York             Lawrence Manor, Lawrence Heights
6        M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [21]:
# More than one neighborhood can exist in one postal code area.
# Combine these into one row. Create temp DataFrame that is Grouping the neighborhoods by zip
temp_df=df.groupby('Postalcode')['Neighborhood'].apply(lambda x: "%s" % ','.join(x))
temp_df=temp_df.reset_index(drop=False)
temp_df.rename(columns={'Neighborhood':'Neighborhood_Joined'}, inplace=True)
temp_df.head()

  Postalcode                     Neighborhood_Joined
0        M1B                          Malvern, Rouge
1        M1C  Rouge Hill, Port Union, Highland Creek
2        M1E       Guildwood, Morningside, West Hill
3        M1G                                  Woburn
4        M1H                               Cedarbrae

In [22]:
# Create a Merged DataFrame by combining the temp DF and original DF
merged_df=pd.merge(df, temp_df, on='Postalcode')
merged_df.drop(['Neighborhood'], axis=1, inplace=True)
merged_df.drop_duplicates(inplace=True)
merged_df.rename(columns={'Neighborhood_Joined':'Neighborhood'}, inplace=True)

merged_df.head()

  Postalcode           Borough                                 Neighborhood
0        M3A        North York                                    Parkwoods
1        M4A        North York                             Victoria Village
2        M5A  Downtown Toronto                    Regent Park, Harbourfront
3        M6A        North York             Lawrence Manor, Lawrence Heights
4        M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [23]:
# In the last cell of your notebook, use the .shape method to print the number of rows of your dataframe
merged_df.shape

(103, 3)

In [24]:
pip install pygeocoder

Requirement already satisfied: pygeocoder in c:\users\jdaggett\anaconda3\lib\site-packages (1.2.5)
Requirement already satisfied: requests>=1.0 in c:\users\jdaggett\anaconda3\lib\site-packages (from pygeocoder) (2.22.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\jdaggett\anaconda3\lib\site-packages (from requests>=1.0->pygeocoder) (2019.11.28)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\jdaggett\anaconda3\lib\site-packages (from requests>=1.0->pygeocoder) (2.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\jdaggett\anaconda3\lib\site-packages (from requests>=1.0->pygeocoder) (1.25.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\jdaggett\anaconda3\lib\site-packages (from requests>=1.0->pygeocoder) (3.0.4)
Note: you may need to restart the kernel to use updated packages.

In [25]:
from pygeocoder import Geocoder

In [26]:
# Part 2 Section
# import geocoder # import geocoder
# from arcgis.geocoding import geocode

def geo_code(postal_code):
    # initialize your variable to None
    lat_lng_coords = None

    # loop until you get the coordinates
    while(lat_lng_coords is None):
        g = Geocoder.google('{}, Toronto, Ontario'.format(postal_code))
        lat_lng_coords = g.latlng
        latitude = lat_lng_coords[0]
        longitude = lat_lng_coords[1]

In [27]:
geo_df = pd.read_csv('http://cocl.us/Geospatial_data')

In [28]:
geo_df.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [34]:
geo_df.rename(columns={'Postal Code':'Postalcode'},inplace=True)
geo_merged_df = pd.merge(geo_df, merged_df,on='Postalcode')
geo_merged_df

,Postalcode,Latitude,Longitude,Borough,Neighborhood
0,M1B,43.806686,-79.194353,Scarborough,"Malvern, Rouge"
1,M1C,43.784535,-79.160497,Scarborough,"Rouge Hill, Port Union, Highland Creek"
2,M1E,43.763573,-79.188711,Scarborough,"Guildwood, Morningside, West Hill"
3,M1G,43.770992,-79.216917,Scarborough,Woburn
4,M1H,43.773136,-79.239476,Scarborough,Cedarbrae
...,...,...,...,...,...
98,M9N,43.706876,-79.518188,York,Weston
99,M9P,43.696319,-79.532242,Etobicoke,Westmount
100,M9R,43.688905,-79.554724,Etobicoke,"Kingsview Village, St. Phillips, Martin Grove ..."
101,M9V,43.739416,-79.588437,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest..."
102,M9W,43.706748,-79.594054,Etobicoke,"Northwest, West Humber - Clairville"

In [38]:
geo_data_df = geo_merged_df[['Postalcode','Borough','Neighborhood','Latitude','Longitude']]
geo_data_df

,Postalcode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
...,...,...,...,...,...
98,M9N,York,Weston,43.706876,-79.518188
99,M9P,Etobicoke,Westmount,43.696319,-79.532242
100,M9R,Etobicoke,"Kingsview Village, St. Phillips, Martin Grove ...",43.688905,-79.554724
101,M9V,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest...",43.739416,-79.588437
102,M9W,Etobicoke,"Northwest, West Humber - Clairville",43.706748,-79.594054